set editing-mode vi
Control-l: clear-screen
Control-f: forward-word
Control-b: backward-word

## arrow up
"\e[A":history-search-backward
## arrow down
"\e[B":history-search-forward

set completion-ignore-case On
